@model assingment2.Models.Modules

@{
    ViewBag.Title = "Details";
}

<h2> Course: Computer Science</h2>
<h2>@Model.ModuleID</h2>
<h3>@Model.ModuleCode</h3>
<p>@Model.ModuleTitle</p>
<p><strong>@Model.StartDate</strong></p>
<p><strong>@Model.EndDate</strong></p>
